[colors]
; Color Theme ==============================
; Can copy directly from Xresources #defines
base00 = #0c1014
base01 = #11151c
base02 = #103752
base03 = #0b3e53
base04 = #245361
base05 = #599cab
base06 = #99d1ce
base07 = #d3ebe9
base08 = #c23127
base09 = #d26937
base0A = #edb443
base0B = #888ca6
base0C = #4e5166
base0D = #195466
base0E = #33859e
base0F = #2aa889
; =========================================

[bar/default]
width = 100%
height = 32
radius = 0
padding = 1
fixed-center = true
bottom = false

background = ${colors.base00}
foreground = ${colors.base05}

module-margin-left = 1
module-margin-right = 1

font-0 = DejaVu for Powerline:pixelsize=10;0
font-1 = DejaVu Mono for Powerline:pixelsize=10;0
font-2 = Noto Sans:pixelsize=10;1

modules-left = i3
modules-center = 
modules-right = network battery volume time

[module/i3]
type = internal/i3
format = <label-state> <label-mode>
wrapping-scroll = false
pin-workspaces = true

label-mode-foreground = ${colors.base05}
label-mode-background = ${colors.base00}

; focused = Active workspace on focused monitor
label-focused = %name%
label-focused-foreground = ${colors.base08}
label-focused-background = ${colors.base00}
label-focused-padding = 1

; unfocused = Inactive workspace on any monitor
label-unfocused = %name%
label-unfocused-foreground = ${colors.base05}
label-unfocused-background = ${colors.base00}
label-unfocused-padding = 1

; urgent = Workspace with urgency hint set
label-urgent = %name%
label-urgent-background = ${colors.base08}
label-urgent-padding = 1

[module/cpu]
type = internal/cpu
interval = 5
format = "%{F#edb443}%{F-} <label>"
format-foreground = ${colors.base05}
label = %percentage%%

[module/memory]
type = internal/memory
interval = 5
format = "%{F#195466}%{F-} <label>"
format-foreground = ${colors.base05}
label = %percentage_used%%

[module/time]
type = internal/date
interval = 1

time = %H:%M:%S
label = %time%

format = "%{F#888ca6}%{F-} <label>"
format-foreground = ${colors.base05}

[module/date]
type = internal/date
interval = 1

date = "%m/%d/%Y"
label = %date%

format = "%{F#4e5166}%{F-} <label>"
format-foreground = ${colors.base05}

[module/now-playing]
type = custom/script
exec = ~/.dotfiles/polybar/scripts/now-playing
interval = 1

[module/battery]
type = internal/battery

battery = BAT0
adapter = AC
poll-interval = 5
time-format = %H:%M
format-charging = %{F#2aa889}%{F-} <label-charging>
label-charging = %percentage%%
format-discharging = <ramp-capacity> <label-discharging>
label-discharging = %time% (%percentage%%)
label-full = %{F#2aa889}%{F-} Charged
ramp-capacity-0 = %{F#c23127}%{F-}
ramp-capacity-1 = %{F#c23127}%{F-}
ramp-capacity-2 = %{F#edb443}%{F-}
ramp-capacity-3 = %{F#edb443}%{F-}
ramp-capacity-4 = %{F#2aa889}%{F-}

[module/network]
type = internal/network
interface = wlp2s0
interval = 1
ping-interval = 3
format-connected = %{F#2aa889}%{F-} <label-connected>
label-connected = %essid%
format-disconnected = %{F#d26937}%{F-} <label-disconnected>
label-disconnected = "Not Connected"

[module/volume]
type = internal/volume
format-volume = %{F#d26937}<ramp-volume>%{F-} <label-volume>
label-volume = %percentage%%
ramp-volume-0 = 
ramp-volume-1 = 
ramp-volume-2 = 
format-muted = %{F#d26937}%{F-} <label-muted>
label-muted = Muted

[settings]
screenchange-reload = true

[global/wm]
margin-top = 5
margin-bottom = 5

; vim:ft=dosini

