! "Enabled modi" Set from: Default
rofi.modi:                              run,ssh

! "Window opacity" Set from: Default
rofi.opacity:                           50

! "Window width" Set from: Default
! rofi.width:                          50

! "Number of lines" Set from: Default
! rofi.lines:                          15

! "Number of columns" Set from: Default
! rofi.columns:                        1

! "Font to use" Set from: Default
rofi.font:                              SourceCodePro 12

rofi.theme: /usr/share/rofi/themes/android_notification.rasi
