configuration {
  show-icons:         true;
  cycle:              true;
  hide-scrollbar:     true;
  disable-history:    true;
  sidebar-mode:       false;
  modi:               "drun,run,window";
  display-drun:       "Search";
  display-run:        "Search";
  display-window:     "Window";
  columns: 3;
  font: "JetBrainsMono Nerd Font 13";
  theme: "~/.cache/wal/colors-rofi-dark.rasi";
  icon-theme:      "Papirus-Dark";
}
