@import url("/home/niko/.cache/wal/colors-custom-gtk3.css");

* {
    border: none;
    border-radius: 0;
    color: @foreground;
    font-family: JetBrainsMono Nerd Font, sans-serif;
    font-size: 14px;
    min-height: 0;
}

#window {
    font-weight: bold;
}

window#waybar {
    background: @backgroundAlpha;
    border-bottom: 3px solid @color0Alpha;
}

#workspaces button {
    padding: 0 5px;
    background: transparent;
    border-bottom: 3px solid transparent;
}

/* Removes Strange Hover effect */
#workspaces button:hover {
    box-shadow: inherit;
    text-shadow: inherit;
}

#workspaces button.focused,
#mode
{
    background: @color2Alpha;
    border-bottom: 3px solid @foreground;
}

#clock,
#battery,
#cpu,
#memory,
#network,
#mode,
#backlight,
#pulseaudio,
#mpd,
#tray
{
    padding: 0 5px;
    margin: 0 5px;
    border-bottom: 3px solid @color0Alpha;
}

#battery.charging {
    border-bottom: 3px solid #b4ecb4;
}

@keyframes blink-warning {
    to {
        border-bottom: 3px solid #e8d62c;
    }
}

#battery.warning:not(.charging) {
    animation-name: blink-warning;
    animation-duration: 1.0s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes blink-critical {
    to {
        border-bottom: 3px solid #fe3943;
    }
}

#battery.critical:not(.charging) {
    animation-name: blink-critical;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#network.disconnected {
    border-bottom: 3px solid #fe3943;
}

