## vim
alias vi="nvim"
alias vim="nvim"

## update
alias upd='trizen -Syu'

## update and clean
alias updac='trizen -Syu; sudo pacman -Rns $(pacman -Qtdq); sudo pacman -Sc'

## update firmware
alias updfw='fwupdmgr get-devices; fwupdmgr refresh; fwupdmgr get-updates; fwupdmgr update'

## cpu governor powersave (default)
alias cpusave='sudo cpupower frequency-set -g powersave'

## cpu governor performance
alias cpuperf='sudo cpupower frequency-set -g performance'

## git cheatsheet
alias gitshtcht='mupdf ~/documents/git-cheatsheet-EN-dark.pdf'

## create .c blueprint file
alias blueprint='cp ~/coding/.blueprint/blueprint.c .'

## gcc flags
alias gcc='gcc -march=native -D_FORTIFY_SOURCE=2 -D_GLIBCXX_ASSERTIONS -fasynchronous-unwind-tables -fexceptions -fstack-clash-protection -fstack-protector-strong -g -grecord-gcc-switches -fcf-protection -O2 -pipe -Wall -Werror=format-security -Werror=implicit-function-declaration -Wl,-z,defs -Wl,-z,now -Wl,-z,relro'

## grep color
alias grep='grep --color=auto'

## diff color
alias diff='diff --color=auto'

## ls color
alias ls='ls --color=auto'

## shutdown
alias shtdwn='shutdown -P now'
